# Server configuration
SERVER_HOST=http://localhost
SERVER_PORT=8000
API_BASE_URL=${SERVER_HOST}:${SERVER_PORT}/api/v1
# Token / Auth
AUTH_TOKEN=
REFRESH_TOKEN=
# App environment
APP_ENV=development
APP_DEBUG=true